/** {
  font-size: 100%;
  
  &:before, &:after {
    box-sizing: border-box;
  }
}
*/
body {
  /*margin: 0.5em;*/
}

table {
  /*border-collapse: collapse;*/
  /*border-spacing: 0;*/
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
  min-width: 800px;
  table-layout: fixed;
}
table, th,td{
  border-collapse: collapse;
  border: 1px solid black;
}
#date tr td{
  text-align: right;
}

.today{
  background-color: yellow;
}